<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike Rental</title>
</head>
<body>
    <form>
    Model
    <input type="text" name="model" placeholder="e.g Honda"><br>
    Daily fee (VND):
    <input type="text" name="fee" value = "100000"><br>
    Image
    <input type="text" name="image" placeholder="e.g. https://hondaxemay.com"><br>
    Year
    <input type="text" name="model" placeholder="e.g 2013"><br>
    <input type="submit" name="submit">  
    </form>
</body>
</html>