<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question</title>
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="root">
        <h2><b> hôm nay lớp đi ăn gì? </b></h2>
        <!-- ol = ordered list; li = list item -->
        <ol> 
            <li>Lẩu</li>
            <li>Nướng</li>
            <li>Dimsum</li>
            <li>Nem nướng</li>
        </ol>
    </div>
</body>
</html>